---
layout: default
title: Publications
---
<div class="publist">
  <ul>
    {% for post in site.posts %}
      {% if post.work-type == 'Paper' %}
        <li>
          <a href="{% if post.ref-doi %}http://dx.doi.org/{{ post.ref-doi }}
            {% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
            {{post.ref-authors}}, <h2>{{ post.ref-title}}</h2>, {{post.ref-year}}, {{post.ref-journal}},
                {{post.ref-vol}}.</a>
          <p>
            {{ post.ref-title }}. 
            <em>{{ post.ref-journal}}</em>
            {% if post.ref-vol %}, {{ post.ref-vol }}{% endif %}. 
            {% if post.ref-doi %}
              <a href="http://dx.doi.org/{{ post.ref-doi }}">
                doi: {{ post.ref-doi }}
              </a>
            {% endif %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  <ul>
</div>
