---
layout: default
title: Publications
---
<h1>{{ page.title}}</h1>
<div class="publist">
  <ul>
    {% for post in site.posts %}
      {% if post.work-type == 'Paper' %}
        <li>
          {{ post.ref-authors}},<a href="{% if post.ref-doi %}http://dx.doi.org/{{ post.ref-doi }}
            {% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
            ,{{ post.ref-title}}</a>,{{ post.ref-year}}, {{ post.ref-journal}}, {{ post.ref-vol}}.
        </li>
      {% endif %}
    {% endfor %}
  <ul>
</div>
